<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Backbone JS Foundation</title>
</head>
<body>
<h1>Backbone JS Foundation</h1>
<div id="app-container">
	<ul id="book-list">
		
	</ul>
</div>
<script type="text/template" id="book-item">
	<li><%= title %> writtent by <%= author%></li>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script src="models/book-model.js"></script>
<script src="collections/book-collection.js"></script>
<script src="views/book-view.js"></script>
<script src="views/book-list-view.js"></script>
<script src="modules/book-module.js"></script>
</body>
</html>
